<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Cadastro </title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <style>
    .juntar{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45vw;
      height: 60vh;
      margin: 0 1rem;
    }
</style>
</head>
<body>
  <header id="menu" class="flex justify-around items-center p-2 bg-3-backgroundMenu text-0-primaryTextColor top-0 left-0 w-screen">
    <a href="{{url_for('index')}}" class="px-2 " >Pagina Principal</a>
    
    
    <div>
      <a href="{{url_for('login')}}">
            <div class="bg-0-secoundBackground h-16 w-40 rounded-lg flex justify-center items-center hover:opacity-95">
        <span class="text-3-inversionTextColor text-lg">Acessar Conta</span>
      </a>
    </div>
  
</header>

  <main class="bg-1-darkBackground  w-screen h-screen flex justify-center items-center text-center">

    <form class="bg-2-primaryBackground py-6 px-10 rounded-xl" method="post" action="/cadastrar/parte1">
        <span class="text-0-primaryTextColor font-bold text-4xl mb-10">Cadastro</span>
        
        <div class="flex justify-between items-center p-2">
          <div class="juntar">
          <div class="flex mt-5 justify-between items-center">
            <span class="text-0-primaryTextColor text-3xl p-4 font-bold">Nome Completo</span>
            <input type="text" name="nome" class="w-80 h-12 p-2 rounded-lg" required>
          </div>

          <div class="flex mt-5 justify-between items-center">
            <span class="text-0-primaryTextColor text-3xl p-4 font-bold">Telefone </span>
            <input type="text" name="telefone" class="w-80 h-12 p-2 rounded-lg placeholder:text-center" placeholder="apenas números" required>
          </div>

          <div class="flex mt-5 justify-between items-center">

            <select name="cpfcnpj" id="select" class="text-0-primaryTextColor text-3xl p-4 font-bold bg-transparent" onchange="createHTML()">
              <option value="cpf"  selected>CPF</option>
              <option value="cnpj">CNPJ</option>
            </select>

            <input type="number" id="cpfcnpj" name="cpf" class="w-80 h-12 p-2 rounded-lg placeholder:text-center" placeholder="apenas números"
              data-mask="123.123.123-45" required>
          </div>
          
          <div id="selected" class="flex mt-5 justify-between items-center">
            <span class="text-0-primaryTextColor text-2xl p-4 font-bold">Data de Nascimento</span>
            <input type="date" name="data_nascimento" class="w-60 h-12 p-2 rounded-lg placeholder:text-center" placeholder="apenas números" required>
          </div>
        </div>

        <div class="juntar">

          <div class="flex mt-5 justify-between items-center">
            <span class="text-0-primaryTextColor text-3xl p-4 font-bold">Email </span>
            <input type="email" name="email" class="w-80 h-12 p-2 rounded-lg" required>
          </div>
        <div class="flex mt-5 justify-between items-center">
          <span class="text-0-primaryTextColor text-3xl p-4 font-bold">Senha </span>
          <input type="text" id="senha" name="senha" class="w-80 h-12 p-2 rounded-lg" required>
        </div>
  
        <div class="flex mt-5 justify-between items-center">
          <span class="text-0-primaryTextColor text-2xl p-4 font-bold">Confirmar Senha </span>
          <input type="text" id="confirma" name="confirma" class="w-80 h-12 p-2 rounded-lg" required>
        </div>

      </div>
        </div>
       
        <div class="flex justify-center mt-10">
          
                <div class="border-2 p-6 border-white h-10 w-60  rounded-lg flex justify-center items-center  hover:opacity-95">
            <span class="text-0-primaryTextColor text-2xl hover:cursor-pointer" onclick="submit()" >Proxima Etapa</span>
          
        </div>
        
    </form>
    
  
  </main>
      
  <script>

    const texto = [[2,"Data de Nascimento"], [3,"Fundação"]]

    function html(texto){

      return `
      <span class="text-0-primaryTextColor text-${texto[0]}xl p-4 font-bold">${texto[1]}</span>
      <input  type="date" name=data_nascimento class="w-60 h-12 p-2 rounded-lg placeholder:text-center">
      `
    }

   
    function createHTML(){

      var div = document.querySelector("#selected")
      var select = document.querySelector("#select").value
      
      console.log(select)
      
      if(select === "cpf"){
        div.innerHTML= html(texto[0])
      }
      else{
        div.innerHTML= html(texto[1])
      }

    }
    function submit(){

      senha = document.querySelector("#senha").value
      confirma = document.querySelector("#confirma").value

      if(senha == confirma){
        console.log("Clicou")
        var b = document.querySelector("form");
        b.submit()
      }

      alert("As senhas estão diferentes por favor digite ambas de formas iguais")
      
    }
  </script>
  
</body>
</html>