<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Cadastro </title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <style>
    .juntar{
      display: flex;
      justify-content: space-around;
    }
</style>
</head>
<body>
  <header id="menu" class="flex justify-around items-center p-2 bg-3-backgroundMenu text-0-primaryTextColor top-0 left-0 w-screen ">
    <a href="{{url_for('index')}}" class="px-2 " >Pagina Principal</a>
    
    
    <div>
      <a href="{{url_for('login')}}">
            <div class="bg-0-secoundBackground h-16 w-40 rounded-lg flex justify-center items-center hover:opacity-95">
        <span class="text-3-inversionTextColor text-lg">Acessar Conta</span>
      </a>
    </div>
  
</header>

  <main class="bg-1-darkBackground  w-screen h-screen flex justify-center items-center text-center ">

    <div class="bg-2-primaryBackground py-6 px-10 rounded-xl">
        <span class="text-0-primaryTextColor font-bold text-4xl mb-10">Cadastro</span>
        
        <form class="flex flex-col justify-evenly" action="/cadastrar/parte2" method="post">
          <div class="juntar">
            <div class="flex mt-5 justify-around items-center">
              <span class="text-0-primaryTextColor text-3xl p-4 font-bold">CEP </span>
              <input type="text"  name="cep" class="w-60 h-12 p-2 rounded-lg placeholder:text-center" placeholder="apenas números">
            </div>
            
            <div class="flex mt-5 justify-around items-center">
              
              <select name="estado" class="text-0-primaryTextColor text-3xl p-4 font-bold bg-transparent" >
                <option selected disabled>UF</option>
                <option value="AC"> AC </option>
                <option value="AL"> AL </option>
                <option value="AP"> AP </option>
                <option value="AM"> AM </option>
                <option value="BA"> BA </option>
                <option value="CE"> CE </option>
                <option value="DF"> DF </option>
                <option value="ES"> ES </option>
                <option value="GO"> GO </option>
                <option value="MA"> MA </option>
                <option value="MT"> MT </option>
                <option value="MS"> MS </option>
                <option value="MG"> MG </option>
                <option value="PA"> PA </option>
                <option value="PB"> PB </option>
                <option value="PR"> PR </option>
                <option value="PE"> PE </option>
                <option value="PI"> PI </option>
                <option value="RJ"> RJ </option>
                <option value="RN"> RN </option>
                <option value="RS"> RS </option>
                <option value="RO"> RO </option>
                <option value="RR"> RR </option>
                <option value="SC"> SC </option>
                <option value="SP"> SP </option>
                <option value="SE"> SE </option>
                <option value="TO"> TO </option>
              </select>
  
             </div>
          </div>
            <div class="flex mt-5 justify-around items-center">
              <span class="text-0-primaryTextColor text-3xl p-4 font-bold">Endereço </span>
              <input type="text" name="endereco" class="w-96 h-12 p-2 rounded-lg">
            </div>
  
              <div class="flex mt-5 justify-around items-center">
                <span class="text-0-primaryTextColor text-3xl p-4 font-bold">Complemento </span>
                <input type="text" name="complemento" class="w-96 h-12 p-2 rounded-lg">
              </div>
              <div class="flex mt-5 justify-around items-center">
                <span class="text-0-primaryTextColor text-3xl p-4 font-bold">Cidade </span>
                <input type="text" name="cidade" class="w-96 h-12 p-2 rounded-lg">
              </div>
            
              
        <div class="flex w-full mt-10 justify-between items-center h-[10vh]">
      
          
        
       
        <div class="flex justify-center">
          
                <div class="border-2 p-6 border-green-600 text-green-600 h-10 w-60  rounded-lg flex justify-center items-center hover:bg-green-600 hover:transition hover:text-white">
            <span class="text-2xl hover:cursor-pointer" onclick="submit()">Cadastrar</span>
       
      </form>
    </div>
    
  
  </main>
  <script src="/static/js/utils.js"></script>
</body>
</html>