<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Cadastro </title>
  <link rel="stylesheet" href="./static/css/output.css">
  <style>
    .juntar{
      display: flex;
      justify-content: space-around;
    }
</style>
</head>
<body>
  <header id="menu" class="flex justify-around items-center p-2 bg-3-backgroundMenu text-0-primaryTextColor top-0 left-0 w-screen">
    <a href="/index.html" class="px-2 " >Pagina Principal</a>
    
    
    <div>
      <a href="{{url_for('login')}}">
            <div class="bg-0-secoundBackground h-16 w-40 rounded-lg flex justify-center items-center hover:opacity-95">
        <span class="text-3-inversionTextColor text-lg">Acessar Conta</span>
      </a>
    </div>
  
</header>

  <main class="bg-1-darkBackground  w-screen h-screen flex justify-center items-center text-center">

    <div class="bg-2-primaryBackground py-6 px-10 rounded-xl">
        <span class="text-0-primaryTextColor font-bold text-4xl mb-10">Cadastro</span>
        
        <div class="flex mt-5 justify-around items-center">
          <span class="text-0-primaryTextColor text-3xl p-4 font-bold">Email </span>
          <input type="text" class="w-80 h-12 p-2 rounded-lg">
        </div>
      <div class="flex mt-5 justify-around items-center">
        <span class="text-0-primaryTextColor text-3xl p-4 font-bold">Senha </span>
        <input type="text" class="w-80 h-12 p-2 rounded-lg">
      </div>

      <div class="flex mt-5 justify-around items-center">
        <span class="text-0-primaryTextColor text-3xl p-4 font-bold">Confirmar Senha </span>
        <input type="text" class="w-80 h-12 p-2 rounded-lg">
      </div>
        
      <div class="flex justify-center mt-10">
        <a href="./login.html">
              <div class="border-2 p-6 border-white h-10 w-60  rounded-lg flex justify-center items-center hover:opacity-95">
          <span class="text-0-primaryTextColor text-2xl">Cadastrar</span>
        </a>
      </div>
    </div>
    
  
  </main>
      
  <script>

    const texto = ["Data de Nascimento", "Fundação"]

    function html(texto){

      return `
      <span class="text-0-primaryTextColor text-3xl p-4 font-bold">${texto}</span>
      <input type="text" class="w-60 h-12 p-2 rounded-lg placeholder:text-center" placeholder="apenas números">
      `
    }

    function createHTML(){

      var div = document.querySelector("#selected")
      var select = document.querySelector("#select").value

      console.log(select)
      
      if(select === "cpf"){
        div.innerHTML= html(texto[0])
      }
      else{
        div.innerHTML= html(texto[1])
      }

    }
  </script>
</body>
</html>