<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PLANOS </title>
</head>
<body>

    <form action="/plano-basico" method="post">
        <input type="submit" value="basico" onclick="plano_basico()"/>
    </form>

    <form action="/plano-intermediario" method="post">
        <input type="submit" value="intermediario" onclick="plano_intermediario()"/>
    </form>
    <form action="/plano-premium" method="post">
        <input type="submit" value="premium" onclick="plano_premium()"/>
    </form>

    <form action="/plano-personalizado" method="post">
        <input type="submit" value="personalizado" onclick="plano_personalizado()"/>
    </form>
          
    
</body>
</html>